<nav class="navbar navbar-expand-lg navbar-dark bg-black border-bottom border-secondary">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="{{ url_for('static', filename='images/zobinews-logo.png') }}" alt="ZobiNews" height="40"> </a>
        
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link text-white" href="/">NewsTrading</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/charts">Live Charts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/feargreed">Fear & Greed</a>
                </li>
            </ul>
        </div>
        
    </div>
</nav>
<div class="ticker-wrapper">
    <div id="ticker-text" class="ticker">Yükleniyor...</div>
</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>
